<% provide(:title,"home") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>ランディングページ</h1>
    <p>
      ここはstatic_pages/home
    </p>
  </body>
</html>